<footer class="site-footer">
    <div class="wrapper">
        <!-- hypercomments -->

        <!-- hypercomments -->

        <!-- Google Analitics -->

        <!-- Google Analitics -->

        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p class="text">
                    <strong
                        ><a href="//programmist.net">Программист</a> Palto.org
                        &copy; 2020</strong
                    >
                </p>
            </div>
        </div>
    </div>
</footer>
